name: CI Publish WASM to Pages

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "*.md"
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust toolchain
        uses: hecrj/setup-rust-action@v2
        with:
          rust-version: stable
          targets: wasm32-unknown-unknown

      - name: Build WASM artifact to site
        run: |
          cargo build --target wasm32-unknown-unknown --release
          cargo install  wasm-bindgen-cli
          wasm-bindgen --no-typescript --out-name fishmans_adventure --out-dir site --target web target/wasm32-unknown-unknown/release/fishmans_adventure.wasm

      - name: Setup Pages
        uses: actions/configure-pages@v5
        with:
          enablement: true

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: site/
          retention-days: 30

      - name: Deploy GitHub Pages site
        id: deployment
        uses: actions/deploy-pages@v4
